
@mixin  pancke-stack {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

@mixin  split-screen($area1, $area2, $j-items) {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas:
        $area2
        $area1;
    justify-items: $j-items;
}


@mixin  split-screen-desk($area1, $area2, $j-items) {
    grid-template-rows: auto;
    grid-template-areas: 
    "#{$area1 $area1  $area2  $area2}";
    justify-items: $j-items;
}


@mixin base-grid {
    display: grid;
    grid-template-columns: repeat( 2, auto );
    grid-template-rows: repeat(3, auto);
    gap: 1rem;
}

@mixin child-grid ( $c-first, $c-last, $r-first, $r-last) {
    grid-column-start: $c-first ;
    grid-column-end:  $c-last;
    grid-row-start: $r-first ;
    grid-row-end:  $r-last;
  
}


@mixin base-flxResponsive() {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}