@import '../responsive/mixins';

.category {
    width: 100%;
    margin-top: 4rem;


    &__heads {
        display: flex;
        justify-content: space-between;
        align-items: center;


    }

    &__title {
        @include base-text($fz-bs, $w-md, $c-primary);

        &--hover {
            &:hover {
                color: $c-hover;
            }
        }

    }

    &__body {
        display: flex;
        gap: 1rem;
        margin-top: 3rem;

        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scrollbar-width: thin;
        scrollbar-color: $c-hover #e0e0e0;
        padding-bottom: 32px;

      
    }

    .card {
        flex: 0 0 300px;
        scroll-snap-align: start;
    }
}

@include respond-below(xs) {

    .category {

        .card {
            width: 30px;
        }

    }

}

@include respond-above(lg) {

    .category {

        &__body {
            justify-content: center;
        }

    }

}