

<article
[appBkImage]="''"
class="hero-banner">
    <section class="hero-banner__body">
        <h2 class="hero-banner__title">General Catalyst, Abstract back Wanderlog’s $1.5M round for collaborative travel</h2>
    </section>
    <footer class="hero-banner__footer">
        <p  class="hero-banner__phf">Twin brothers Harry and Peter Yu grew up traveling all over, an aspect of their lives that
            continued even into their careers. What they didnt enjoy was figuring out all the logistics,
            which has becom...</p>
        <p class="hero-banner__phf hero-banner__phf--end">2021-09-01 <span>Opinion by Peter Bergen, CNN...</span></p>
    </footer>
</article>
