// Colors

$c-primary: #000000;
$c-secondary: #ffffff;
$c-tertiary: #9e9e9e;


$c-links: #818181;
$c-activeLinks:#ac223c;
$c-hover:#3f66c8;

$c-background: #f6f8fa;

// padding
$pd-sm: 1rem;
$pd-md: 1.5rem;
$pd-bg: 2.5rem;

// debug

$border: 1px solid red;