
<header>

<section class="left-ctrols">
    <button class="icon-menu"
        (click)="sidebarService.showMenu()">
        <span class="icon-menu__bar"></span>
    </button>

    <div class="brand-container">
        <a href="#" class="brand">
            App News
        </a>
    </div>
</section>
    

<section class="right-ctrols">
    <form class="search-input"
        (submit)="searchNews( term.value )">
        <input
           class="search-input__input"
           type="search"
           name="search-input"
           placeholder="Search..."
           aria-label="Search"
           #term>
         <button class="search-input__btn">
          <img class="search-input__icon" src="/assets/icons/search.svg" alt="search">
         </button>
     </form>
       
</section>
    


  
   

</header>