
<header>

    <button class="icon-menu"
        (click)="sidebarService.showMenu()">
        <span class="icon-menu__bar"></span>
    </button>

    <div class="brand-container">
        <a href="#" class="brand">
            App News
        </a>
    </div>

    

<div class="search-input">
    <input class="search-input__input" type="search" name="search-input"  placeholder="Search..." aria-label="Search">
    <button class="search-input__btn">
     <img src="/assets/icons/search.svg" alt="">
    </button>
</div>
  
  
   

</header>