<section class="category">
    <section class="category__heads">
        <h2 class="category__title">{{ category.titulo | uppercase }}</h2>
       <a
          class="category__title  category__title--hover"
          [routerLink]="[ '/category', category.titulo ]">
          see all
        </a>
    </section>
    <hr>
    <section class="category__body">
        <app-card 
        class="card"
            *ngFor="let article of category.articles"
             [article]= 'article'>
        </app-card>
    </section>
</section>