

.category-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 6rem;

    .category {

        &__title {
            @include base-text($fz-md, $w-md, $c-primary);
            margin-bottom: 0;
        }

        &__body {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            gap: 1rem;

            .card {
                flex: 0 0 300px;
            }
        }
    }

    .menu {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        
        &__item {
            width: 105px;
            margin: 0.5rem;
            cursor: pointer;
    
        }

        &__link {
            display: inline-block;
            width: 100%;
            padding: 1rem 0;
            @include base-text($fz-sm, $w-sm, $c-primary);
            text-align: center;
            border: 1px solid $c-hover;
            border-radius: 25px;

            &:hover {
                background-color: $c-hover;
                color: $c-secondary;
                font-weight: $w-md;
            }

            &--active {
                background-color: $c-hover;
                color: $c-secondary;
                font-weight: $w-md;
            }
        }
    }

  
}