

.wrapper--home {
    width: 100%;
    height: auto;
    margin-top: 6.5rem;
    padding: 0 2rem;
}


.hero {
    height: auto;


    &__title {

        @include base-text($fz-bg, $w-md, $c-primary);

    }

    &-wrapper {
        position: relative;
        width: 100%;
        max-width: 1000px;
        height: 475px;
        margin: 0 auto;

    }

}