


.header {
    z-index: 20;

    grid-area: header;
    position: fixed;
    width: 100%;
}

.aside {
    grid-area: sidebar;


    position: fixed;
    top: 7rem;
    z-index: 10;

    
    width: 280px;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    transition: 0.3s ease-out;


    &--active {
       

        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
}

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    padding: 2.5rem 1rem;
    overflow: hidden;

    //Modificar padding tablet layout
    // padding-lef-right: 2.5rem;

    &--slide {
        align-items: flex-end;
    }
}



footer {
    grid-area: footer;
}
