
// import Swiper styles
@import "~swiper/css";
@import '~swiper/css/navigation';
@import '~swiper/css/pagination';
// Abstracts files

@import 'abstracts/palette';
@import 'abstracts/mixins';


// Core files
@import 'core/typography';
@import 'core/normalize';

//layout

@import 'layout/grid';





html {
    
    font-family: $font-primary;
    font-size: 62.5%;
    scrollbar-color: #6969dd #e0e0e0;
    scrollbar-width: thin;
    
    
}



body {

    background-color: $c-background;

    .wrapper {
         @include pancke-stack(); 
         grid-template-areas: 
         " header "
         " main "
         " footer ";

    }

    
      
    
    

    
}
