
// import Swiper styles
@import "~swiper/css";
// Abstracts files

@import 'abstracts/palette';
@import 'abstracts/mixins';


// Core files
@import 'core/typography';
@import 'core/normalize';

//layout

@import 'layout/grid';





html {
    
    font-family: $font-primary;
    font-size: 62.5%;
    scrollbar-color: #6969dd #e0e0e0;
    scrollbar-width: thin;
    
    
}



body {

    background-color: $c-background;

    .wrapper {
         @include pancke-stack(); 
         grid-template-areas: 
         " header "
         " main "
         " footer ";

    }

    .swiper {
        width: 100%;
        max-width: 1000px;
        height: 475px;
        margin: 0 auto;
        margin-top: 6.5rem;
        // border: 1px solid red;
      }

   
  
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
  
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
      
    
    

    
}
