

<div class="wrapper-search">
    <section class="category-wrapper">
        <h2 class="category__title">{{ searchTerm }}</h2>
        <nav class="category__menu">
           <app-sub-menu [category]='searchTerm' (news) = 'news = $event'></app-sub-menu>
        
        </nav>
        <section class="category__body">
           <app-card 
           class="card"
               *ngFor="let article of news"
                [article]= 'article'>
           </app-card>
        </section>
     </section>
</div>
