<div class="wrapper">

    <section class="hero">
        <h1>Todays Headliness</h1>
        <div class="hero-wrapper">
            <article class="card card--main"><h2>Main</h2></article>
            <article class="card card--first"><h2>first</h2></article>
            <article class="card card--second"><h2>second</h2></article>
        </div>
    </section>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p>
    
    
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p><p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam incidunt quis libero culpa, neque natus, ipsa
        aspernatur voluptatem magni dicta, repellendus tenetur provident! Atque eius, ipsam provident facilis enim qui.
    </p>
</div>